.loading-overlay {
	display: none;
	background: rgba( 26, 26, 26, 0.7 );
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 5;
	top: 0;
}
 
.loading-overlay-image-container {
	display: none;
	position: fixed;
	z-index: 7;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}
 
.loading-overlay-img {
	width: 50px;
	height: 50px;
	border-radius: 5px;
}

ul {
    list-style-type: none;
}

@media (min-width: 768px){
    .form-inline .form-group {
        margin-right: 20px;
    }
}

.card label {
    margin-right: 5px;
}

.card .category, .card label {
    color: black;
}

.table > thead > tr > th {
	color: black
}

.filtros {
	margin: 2% auto;
}