<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-left" style="color: black;" href="#" >{{getTitle()}}</a>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{getUsername()}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <a (click)="sair()">Sair</a>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
