<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        Company
                    </a>
                </li>
                <li>
                    <a href="#">
                        Portfolio
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right" >
            &copy; {{test | date: 'yyyy'}} <a href="http://www.creative-tim.com" style=" color: rgb(29, 77, 234) ">Creative Tim</a>, made with love for a better web
        </p>
    </div>
</footer>
